<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul style="position: fixed;" class="nav navbar-nav side-nav">
    <li class="active">
      <a href="/admin/dashboard/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    </li>
    <li>
      <a href="/admin/dashboard/shopkeeper/create_company/"><i class="fa fa-fw fa-bar-chart-o"></i> Manage your Company</a>
    </li>
    <li>
      <a href="/admin/dashboard/shopkeeper/create_food_item/"><i class="fa fa-fw fa-table"></i>Manage Food Items</a>
    </li>

    <li>
      <a href="/admin/dashboard/shopkeeper/manage_deals"><i class="fa fa-fw fa-edit"></i> Manage Deals</a>
    </li>

    <li>
      <a href="/admin/dashboard/shopkeeper/manage_orders"><i class="fa fa-fw fa-edit"></i> Manage Orders</a>
    </li>

    <li>
      <a href="/admin/dashboard/shopkeeper/manage_time_slots/"><i class="fa fa-fw fa-edit"></i>Manage Time Slots</a>
    </li>

  </ul>
</div>