<%# encoding: utf-8 %>
<div class="container-fluid" id="innerpage">
  <div class="row">
    <div class="col-md-3">
      <div class="sideBar">
        <%= render "cart" %>
        <div class="cancelPolicy sidBarWgt">
          <h3>Cancelation Policy</h3>
          <p>Lorem ipsum dolor sit amet, eu has tota velit, et ius aliquip albucius. Percipit fabellas et vis.</p>
        </div>
        <div class="minOrderPolicy sidBarWgt">
          <h3>Minimum Order Policy</h3>
          <p>Lorem ipsum dolor sit amet, eu has tota velit, et ius aliquip albucius. Percipit fabellas et vis.</p>
        </div>
        <div class="sideBarImg text-center hidden-xs hidden-sm">
          <img src="images/rightbanner.jpg" />
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="innerbannertwo bx-wrapper">
        <ul class="bxslider">
          <li><img src="images/inner-banner-two.jpg" /></li>
          <li><img src="images/inner-banner-two.jpg" /></li>
        </ul>
        <div class="pageouter">
          <span id="slider-prev">&nbsp;</span> | <span id="slider-next">&nbsp;</span>
        </div>
      </div>
      <div class="mainContentTop tabsContent">
        <h2 class="h2Hdng">Checkout</h2>
      </div>
      <div class="contentbdox">
        <div class="abovedate">April 28 Friday   |   6:00 PM - 9:00 PM</div>
        <div class="row ">
          <div class="datetwo clearfix">
            <div class="span1">
              Resturant Name
            </div>
            <div class="span2">
              Product Name
            </div>
            <div class="span3">
              Quantity
            </div>
            <div class="span4">
              Unit Price
            </div>
            <div class="span5">
              Sub Total
            </div>
            <div class="span6">
              &nbsp;
            </div>
          </div>
        </div>
        <div class="row">
          <div class="celenderdate">
            <div class="span1">
              <img src="images/johnyLogo.png" class="pull-left"/>
              <h2><a href="#">johnny Rockets</a></h2>
            </div>
            <div class="span2">
              <a href="#mydeal" data-toggle="modal">Deal 01</a>
              <div id="mydeal" class="modal fade">

                <div class="modal-dialog">

                  <div class="modal-content">
                    <div class="modal-body createpopup deals">
                      <h2>Deal 1</h2>
                      <div class="row">
                        <div class="listdeals">
                          <div class="col-md-2"><img src="images/johnyLogo.png" /></div>
                          <div class="col-md-8">
                            chicken club sandwich
                            <span>Serve in the box</span>
                          </div>
                        </div>
                        <div class="listdeals">
                          <div class="col-md-2"><img src="images/johnyLogo.png" /></div>
                          <div class="col-md-8">
                            Houstan
                            <span></span>
                          </div>
                        </div>
                        <div class="listdeals">
                          <div class="col-md-2"><img src="images/johnyLogo.png" /></div>
                          <div class="col-md-8">
                            Chili cheeese
                            <span></span>
                          </div>
                        </div>
                        <div class="listdeals">
                          <div class="col-md-2"><img src="images/johnyLogo.png" /></div>
                          <div class="col-md-8">
                            Delux shake
                            <span>Serve in the glass</span>
                          </div>
                        </div>
                        <div class="listdeals text-center">
                          <a href="#" class="btn btn-close" data-dismiss="modal">Close</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="span3">
              <div class="input-group">
                                  <span class="input-group-btn">
                                      <button type="button" class="btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                        <i class="fa fa-angle-left"></i>
                                      </button>
                                  </span>
                <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                                  <span class="input-group-btn">
                                      <button type="button" class="btn-number" data-type="plus" data-field="quant[1]">
                                        <i class="fa fa-angle-right"></i>
                                      </button>
                                  </span>
              </div>
            </div>
            <div class="span4">
              999.000
            </div>
            <div class="span5">
              9990.000
            </div>
            <div class="span6">
              <a href="#">x</a>
            </div>
          </div>
          <div class="celenderdate">
            <div class="span1">
              <img src="images/johnyLogo.png" class="pull-left"/>
              <h2><a href="#">johnny Rockets</a></h2>
            </div>
            <div class="span2">
              <a href="#mydeal" data-toggle="modal">Deal 01</a>
              <div id="mydeal" class="modal fade">

                <div class="modal-dialog">

                  <div class="modal-content">
                    <div class="modal-body createpopup deals">
                      <h2>Deal 1</h2>
                      <div class="row">
                        <div class="listdeals">
                          <div class="col-md-2"><img src="images/johnyLogo.png" /></div>
                          <div class="col-md-8">
                            chicken club sandwich
                            <span>Serve in the box</span>
                          </div>
                        </div>
                        <div class="listdeals">
                          <div class="col-md-2"><img src="images/johnyLogo.png" /></div>
                          <div class="col-md-8">
                            Houstan
                            <span></span>
                          </div>
                        </div>
                        <div class="listdeals">
                          <div class="col-md-2"><img src="images/johnyLogo.png" /></div>
                          <div class="col-md-8">
                            Chili cheeese
                            <span></span>
                          </div>
                        </div>
                        <div class="listdeals">
                          <div class="col-md-2"><img src="images/johnyLogo.png" /></div>
                          <div class="col-md-8">
                            Delux shake
                            <span>Serve in the glass</span>
                          </div>
                        </div>
                        <div class="listdeals text-center">
                          <a href="#" class="btn btn-close" data-dismiss="modal">Close</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="span3">
              <div class="input-group">
                                  <span class="input-group-btn">
                                      <button type="button" class="btn-number"  data-type="minus" data-field="quant[2]">
                                        <i class="fa fa-angle-left"></i>
                                      </button>
                                  </span>
                <input type="text" name="quant[2]" class="form-control input-number" value="10" min="1" max="100">
                                  <span class="input-group-btn">
                                      <button type="button" class="btn-number" data-type="plus" data-field="quant[2]">
                                        <i class="fa fa-angle-right"></i>
                                      </button>
                                  </span>
              </div>
            </div>
            <div class="span4">
              999.000
            </div>
            <div class="span5">
              9990.000
            </div>
            <div class="span6">
              <a href="#">x</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="innerpage">
              <div class="carttop clearfix">
                <div class="col-md-12">
                  <table class="table">

                    <tr class="nobord">
                      <td>
                        Special Request for this order comes here.
                      </td>
                    </tr>
                    <tr class="nobord">
                      <td style="font-size:14px">
                        All Female Servers   |   Arabic Speaking Only
                      </td>
                    </tr>

                    <tr class="subTotl">
                      <td>
                        Sub Total
                      </td>
                      <td class="text-right">
                        39960.000
                      </td>
                    </tr>
                    <tr class="subTotl">
                      <td>
                        Discount
                      </td>
                      <td class="text-right">
                        20%
                      </td>
                    </tr>
                    <tr class="grandTotal">
                      <td>Grand Total</td>
                      <td class="text-right">31968.000 KD</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="row customForm">
                <h3 class="customTitle clearfix">Billing Address</h3>
                <div class="row alradytext">Already register? <a href="#">LOGIN</a></div>
                <form class="clearfix">
                  <div class="col-sm-6">
                    <input placeholder="First Name" type="text">
                  </div>
                  <div class="col-sm-6">
                    <input placeholder="Last Name" type="text">
                  </div>
                  <div class="col-sm-6">
                    <input placeholder="Email" type="email">
                  </div>
                  <div class="col-sm-6">
                    <input placeholder="Mobile Number" type="text">
                  </div>
                  <div class="col-sm-12">
                    <input placeholder="Street Address" type="text">
                  </div>
                  <div class="col-sm-12">
                    <input placeholder="Street Address (optional)" type="text">
                  </div>
                  <div class="col-sm-6">
                    <input placeholder="City" type="text">
                  </div>
                  <div class="col-sm-6">
                    <input placeholder="State" type="text">
                  </div>
                  <div class="col-sm-6">
                    <input placeholder="Zip Code" type="text">
                  </div>
                  <div class="col-sm-6">
                    <input placeholder="Country" type="text">
                  </div>
                  <div class="col-sm-6">
                    <input placeholder="Password" type="text">
                  </div>
                  <div class="col-sm-6">
                    <input placeholder="Confirm Password" type="text">
                  </div>
                </form>
              </div>
              <div class="row customForm">
                <h3 class="customTitle clearfix">Payment Method</h3>
                <div class="row alradytext">
                  <div class="col-md-8 col-md-offset-3">
                    <div class="col-md-5">
                      <label class="radio-inline"> <input type="radio" name="payments" value="cashcard" checked="checked" />Cash on Delivery</label>
                    </div>
                    <div class="col-md-5">
                      <label class="radio-inline"> <input type="radio" name="payments" value="creditcard" />Credit Card</label>
                    </div>
                  </div>
                </div>
                <div class="row" id="selectpayment">
                  <div class="alradypay">
                    <div class="col-md-11 col-md-offset-1">
                      <div class="col-md-2">
                        <label class="radio-inline"> <input type="radio" /> <img src="images/pay-icon-1.jpg" /></label>
                      </div>
                      <div class="col-md-2">
                        <label class="radio-inline"> <input type="radio" /> <img src="images/pay-icon-2.jpg" /></label>
                      </div>
                      <div class="col-md-2">
                        <label class="radio-inline"> <input type="radio" /> <img src="images/pay-icon-3.jpg" /></label>
                      </div>
                      <div class="col-md-2">
                        <label class="radio-inline"> <input type="radio" /> <img src="images/pay-icon-4.jpg" /></label>
                      </div>
                      <div class="col-md-2">
                        <label class="radio-inline"> <input type="radio" /> <img src="images/pay-icon-5.jpg" /></label>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix customForm">
                    <div class="col-md-12">
                      <div class="col-sm-6">
                        <label class="control-label">Card Holder</label>
                        <input type="text" placeholder="Name">
                      </div>
                      <div class="col-sm-6">
                        <label class="control-label">Card Number</label>
                        <input type="text" placeholder="0000 0000 0000">
                      </div>
                      <div class="col-sm-6">
                        <label class="control-label">Valid Through</label>
                        <input type="text" placeholder="MM/YY">
                      </div>
                      <div class="col-sm-6">
                        <label class="control-label">CVC</label>
                        <input type="text" placeholder="000">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <a href="#" class="btn btn-close">Place order</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footertop">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h3>Useful Links</h3>
        <div class="links">
          <a href="about-us.html">About Kater</a>
          <a href="privacy-policy.html">Privacy Policy</a>
          <a href="terms-and-condition.html">Terms & Conditions</a>
          <a href="get-in-touch.html">Contact Us</a>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Newsletter</h3>
        <div class="newsletter">
          <input type="text" class="form-control" placeholder="Your email address" />
          <i class="fa fa-envelope"></i>
        </div>
      </div>
      <div class="col-md-2">
        <h3>Follow Along</h3>
        <div class="followalong">
          <a href="#"><i class="fa fa-facebook-f"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-pinterest-p"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footerbottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-7">
        <p>© Kater 605, 6th Floor, Old Education Ministry Building, Mirqab, Kuwait.</p>
        <p>Tel: +965 2239 5022   |   Fax: +965 2239 5022   |   <a href="#">info@kater.com.kw</a></p>
      </div>
      <div class="col-md-6 col-sm-5">
        <div class="payicons">
          <img src="images/pay-icon-1.jpg" />
          <img src="images/pay-icon-2.jpg" />
          <img src="images/pay-icon-3.jpg" />
          <img src="images/pay-icon-4.jpg" />
          <img src="images/pay-icon-5.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(e) {
        $(".viewOrder").click(function(e) {
            $(this).parent().parent().hide();
            $(this).parent().parent().next().slideDown();
            $(this).parent().parent().next().next().slideDown();
        });
        $(".hideOrder").click(function(e) {
            $(this).parent().parent().hide();
            $(this).parent().parent().next().hide();
            $(this).parent().parent().prev().show();
        });
        //editAddress
        $(".editAddress").click(function(e) {
            $(this).parent().parent().hide();
            $(this).parent().parent().next().slideDown();
            $(this).parent().parent().next().next().slideDown();
        });
        $(".addressRowShow .delAddress").click(function(e) {
            $(this).parent().parent().hide();
            $(this).parent().parent().next().hide();
            $(this).parent().parent().prev().show();
        });
    });

    $(document).ready(function(){
        $('.bxslider').bxSlider({
            auto: true	 ,
            nextSelector: '#slider-next',
            prevSelector: '#slider-prev',
        });

        $('input[name="payments"]').click(function(){
            if($(this).attr("value")=="creditcard"){
                $("#selectpayment").show();
            }
            if($(this).attr("value")=="cashcard"){
                $("#selectpayment").hide();
            }
        });

        $(".mycartbtn").click( function (){
            $(".myCartWgt").toggle();
        });

    });

    var $document = $(document),
            $element = $('.myCartWgt'),
            $elementsidebar = $('.sideBar'),
            className = 'hoveradd';
    sideclassName = 'sidebarhoverad';

    $(window).scroll(function() {
        $element.toggleClass(className, $document.scrollTop() >= 50);
        $elementsidebar.toggleClass(sideclassName, $document.scrollTop() >= 50);
    });

    var $document = $(document),
            $elementss = $('#header'),
            elementsidebar = 'headerfixed'

    $(window).scroll(function() {
        $elementss.toggleClass(elementsidebar, $document.scrollTop() >= 50);
    });
    // count one
    $('.btn-number').click(function(e){
        e.preventDefault();

        fieldName = $(this).attr('data-field');
        type      = $(this).attr('data-type');
        var input = $("input[name='"+fieldName+"']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if(type == 'minus') {

                if(currentVal > input.attr('min')) {
                    input.val(currentVal - 1).change();
                }
                if(parseInt(input.val()) == input.attr('min')) {
                    $(this).attr('disabled', true);
                }

            } else if(type == 'plus') {

                if(currentVal < input.attr('max')) {
                    input.val(currentVal + 1).change();
                }
                if(parseInt(input.val()) == input.attr('max')) {
                    $(this).attr('disabled', true);
                }

            }
        } else {
            input.val(0);
        }
    });
    $('.input-number').focusin(function(){
        $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function() {

        minValue =  parseInt($(this).attr('min'));
        maxValue =  parseInt($(this).attr('max'));
        valueCurrent = parseInt($(this).val());

        name = $(this).attr('name');
        if(valueCurrent >= minValue) {
            $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the minimum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        if(valueCurrent <= maxValue) {
            $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
        } else {
            alert('Sorry, the maximum value was reached');
            $(this).val($(this).data('oldValue'));
        }
    });

    $(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                    // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                    // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>