<%= form_for(@inavailability) do |f| %>
  <% if @inavailability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inavailability.errors.count, "error") %> prohibited this inavailability from being saved:</h2>

      <ul>
      <% @inavailability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
